<!DOCTYPE html>
<html>
<head th:insert="layout::head">
<meta charset="UTF-8">
</head>
<script type="text/javascript" th:src="@{/js/mijs/opera.js}"></script>

<body>
  <nav th:insert="layout::menuFarma"></nav>

  <br>

  <div class="container">
    <div class="row">
      <div class="col-8">
        <img
          src="https://dcuk1cxrnzjkh.cloudfront.net/imagesproducto/421011X.jpg"
          alt="Enterogermina" width="600" height="600">
      </div>
      <div class="col-4">
        <strong>SOMOS FARMA</strong>
        <br><br>
        <div class="container">
          <div class="row">
            <div class="col-6">
              <b>FECHA</b>
            </div>
            <div class="col-6">
              08/02/2022
            </div>
            <div class="col-6">
              <b>HORA DE COMPRA</b>
            </div>
            <div class="col-6">
              22:00
            </div>
            <div class="col-6">
              <b>NOMBRE</b>
            </div>
            <div class="col-6">
              <span id="nomProducto">Enterogermina</span>
            </div>
            <div class="col-6">
              <b>PRECIO</b>
            </div>
            <div class="col-6">
              <input type="number" Id="precioProducto" readonly="true" value="33.6">
            </div>
            <br><br>
            <div class="col-6">
              <b>MONTO A COMPRAR (UN)</b>
            </div>
            <div class="col-6">
              <input type="number" id="canProducto">
            </div>
            <br><br><br>
            <div class="col-12">
              <button type="button" class="btn bg-primary" style="color: white;" onclick="resolver()">Calcular</button>
            </div>
            <br><br><br>
            <div class="col-6">
              <b>Total</b>
            </div>
            <div class="col-6">
              <input type="number" id="totalProducto" readonly="true">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>