<!DOCTYPE html>
<html>
<head th:insert="layout::head">
<meta charset="UTF-8">
</head>
<body>
	<nav th:insert="layout::menu"></nav>
	
	<hr>
	<br>
	<form th:action="@{/Seguridad/index}" method="post" th:object="${user}">
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">Ingrese su
				Correo</label> <input type="email" class="form-control"
				id="exampleInputEmail1" aria-describedby="emailHelp" name="correo">
		</div>
		<div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">Ingrese
				Contraseña</label> <input type="password" class="form-control"
				id="exampleInputPassword1" name="contrasenia">
		</div>
		<button type="submit" class="btn btn-primary">Ingresar</button>
	</form>

</body>
</html>